header {
  height: 400px;
  width: 1280px;
  background: url("https://raw.githubusercontent.com/green-fox-academy/myfirstapp-syllabus/master/assets/first-website-header.png");
  background-size: cover;
  position: relative;
  margin: auto;
  margin-bottom: 70px;
}

header h1 {
  font-size: 74px;
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 280px;
}

header h3 {
  font-size: 37px;
  margin: 0;
  position: absolute;
  bottom: 110px;
  left: 280px;
}

main {
  width: 800px;
  margin: auto;
  line-height: 30px;
}

h1,
h3 {
  font-family: "Abril Fatface";
  color: #222;
  font-weight: lighter;
}

p,
h2,
ul li {
  font-family: "Josefin Sans", sans-serif;
  color: #222;
  line-height: 30px;
}

h2 {
  text-transform: uppercase;
  margin: 70px 40px 60px 40px
}

p {
  font-size: 20px;
  margin: 40px 40px 30px 40px;
}

.text1 {
  margin: 50px 40px 0px 40px;
  font-family: "Josefin Sans", sans-serif;
  color: #222;
  font-weight: bold;
  font-size: 20px;
}

ul {
  font-size: 20px;
  margin: 0px 40px 60px 40px;
}

h4 {
  font-family: "Abril Fatface", cursive;
  font-family: "Merriweather", serif;
  font-style: italic;
  font-size: 15px;
  margin: 0px 40px 0px 40px;
}

li {
  list-style-type: square;
  color: #222;
}

.quote-container {
  background-color: #222;
  color: white;
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
  padding: 10px 0px 10px 0px;
}

.quote-container {
  position: relative;
}

.qmark-one {
  position: absolute;
  font-size: 130px; 
  left: 0px;
  bottom:95px;
}

.qmark-two {
  position: absolute;
  font-size: 130px; 
  left: 0px;
  bottom: 145px;
}

.qmark-three {
  position: absolute;
  font-size: 130px; 
  left: 0px;
  bottom:145px;
}

hr {
  width: 720px;
  height: 3px;
  background-color: #222;
}