.asteroid.big {
    color: blue;
}

.container>div {
    border-style: solid;
    border-color: green;
    border-width: 1px;
}

p {
    background-color: yellow;
}

#b325, .b326, .b329 {
    font-weight: bold;
}