.navBar {
  background-color: purple;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.button {
  background-color: cyan;
  height: 30px;
  width: 80px;
  margin: 10px;
  border: none;
}

.button.wider {
  width: 120px;
}

container {
  display: flex;
}

main {
  background-color: yellow;
  height: 500px;
  flex-grow: 4;
}

aside {
  background-color: green;
  height: 500px;
  flex-grow: 1;
}