body {
  margin-top: 0px;
}

.nav-bar {
  display: flex;
  height: 160px;
  background-color: #222;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0px;
  width:100%; 
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-item {
  
  margin: 30px;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-size: 60px;
}

main {
 margin-top: 160px;  
}

header {
  background: url("https://raw.githubusercontent.com/green-fox-academy/myfirstapp-syllabus/master/assets/first-website-header.png");
  background-size: 1200px;
  background-repeat: no-repeat;
  margin: auto;
  height: 700px;
  width: 650px;
  position: ;
  margin-bottom: 70px;
}

header h1 {
  position: ;
  font-size: 74px;
}

header h3 {
  position: ;
  font-size: 37px;
}

h1,
h3 {
  font-family: "Abril Fatface";
  color: #222;
  font-weight: lighter;
}

p,
h2,
ul li {
  font-family: "Josefin Sans", sans-serif;
  color: #222;
  line-height: 30px;
}

h2 {
  text-transform: uppercase;
}

p {
  font-size: 20px;
}

.text1 {
  font-family: "Josefin Sans", sans-serif;
  color: #222;
  font-weight: bold;
  font-size: 20px;
}

ul {
  font-size: 20px;
}

h4 {
  font-family: "Abril Fatface", cursive;
  font-family: "Merriweather", serif;
  font-style: italic;
  font-size: 15px;
}

li {
  list-style-type: square;
  color: #222;
}

.quote-container {
  background-color: #222;
  color: white;
  font-size: 130px;
  font-weight: bold;
  line-height: 150px;
}

.quote-container {
  position: ;
}

.qmark-one,
.qmark-two,
.qmark-three {
  position: absolute;
  font-size: 280px;
  left: 0px;
  bottom: 420px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.aside-left {
  width: 650px;
}

.aside-right {
  width: 850px;
}
